.snotifyToast{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.13);
}
.snotifyToast__progressBar{
    height: 5px;
    background-color: #c7c7c7;
}
.snotifyToast__progressBar__percentage{
    height: 5px;
}