/* Navbar */
.navbar {
  font-family: $type-1;
  background: $blue-teal-gradient;
  padding: 0;
  transition: background $action-transition-duration $action-transition-timing-function;
  -webkit-transition: background $action-transition-duration $action-transition-timing-function;
  -moz-transition: background $action-transition-duration $action-transition-timing-function;
  -ms-transition: background $action-transition-duration $action-transition-timing-function;

  .navbar-brand-wrapper {
    transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    background: $sidebar-light-bg;
    width: $sidebar-width-lg;
    height: $navbar-height;
    @media(max-width: 991px) {
      width: $sidebar-width-sm;
    }    

    .navbar-brand {
      color: $white;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: 0.25rem 0;

      &:active,
      &:focus,
      &:hover {
        color: lighten(color(gray-dark), 10%);
      }

      img {
        width: calc(#{$sidebar-width-lg} - 130px);
        max-width: 100%;
        height: 28px;
        margin: auto;
        vertical-align: middle;
      }
      @media(max-width: 991px) {
        display: none;
      }
    }

    .brand-logo-mini {
      display: none;
      @media(max-width: 991px) {
        display: block;
      }

      img {
        width: calc(#{$sidebar-width-icon} - 50px);
        max-width: 100%;
        height: 28px;
        margin: auto;
      }
    }
  }

  .navbar-menu-wrapper {
    padding: 0 15px;
    height: $navbar-height;
    width: calc(100% - #{$sidebar-width-lg});
    
    @media(max-width: 991px) {
      width: calc(100% - #{$sidebar-width-sm});
    }

    .navbar-nav {
      @include flex-direction(row);
      .nav-item {
        @include display-flex;
        @include align-items(center);
        margin: 0 0.5rem;

        .nav-link {
          color: $white;
        }

        &.b-nav-dropdown {
          .nav-link {
            &.dropdown-toggle {
              &::after {
                display: none;
              }

              .count-indicator {
                position: relative;

                .icon {
                  font-size: 21px;
                  margin-right: 0;
                  vertical-align: middle;
                }

                .count {
                  position: absolute;
                  left: 50%;
                  width: 1rem;
                  height: 1rem;
                  border-radius: 100%;
                  background: #FF0017;
                  font-size: 75%;
                  top: -6px;
                  font-weight: 600;
                  line-height: 1rem;
                  border: none;
                  text-align: center;
                }
              }
            }
          }

          .dropdown-menu {
            @extend .dropdownAnimation;
            -webkit-box-shadow: 0 0 13px -3px rgba(0,0,0,0.10);
            -moz-box-shadow: 0 0 13px -3px rgba(0,0,0,0.10);
            box-shadow: 0 0 13px -3px rgba(0,0,0,0.10);
            position: absolute;            
            font-size: 0.9rem;
            margin-top: 0;
            right: 0;
            left: auto;
            top: $navbar-height;
            
            .dropdown-item {
              @extend .d-flex;
              @extend .align-items-center;
              border-bottom: 1px solid lighten(color(gray-light),30%);
              margin-bottom: 0;
              padding: 11px 30px;
              border-bottom: 1px solid $border-color;

              &:last-child {
                border-bottom: none;
              }

              .badge {
                @extend .ml-3;
                @extend .d-none;
                @extend .d-sm-block;

                .rtl & {
                  @extend .ml-0;
                  @extend .mr-3;
                }
              }

              i {
                font-size: 17px;
              }

              .ellipsis {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .preview-icon {
                width: 40px;
                height: 40px;
                @include border-radius(100%);
              }

              .small-text {
                font-size: 0.75rem;
              }
            }
          }
          @media (max-width: 991px) {
            position: static;
            .dropdown-menu {
              left: 20px;
              right: 20px;
              top: $navbar-height;
              width: calc(100% - 40px);
            }
          }
        }
      }

      &.header-links {
        height: $navbar-height;
        padding-left: 2%;

        .nav-item {
          margin: 0;

          .nav-link {
            height: $navbar-height;
            font-size: $default-font-size;
            padding: 16px 25px;
            @include display-flex;
            @include align-items(center);

            &.active {
              background: rgba($white,0.3);
            }

            i {
              margin-right: 10px;
              font-size: inherit;

              .rtl & {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }

    .navbar-toggler-right {
      border: 0;
      padding: 0 0.5rem;
      span {
        color: $white;
      }
      @media(max-width: 991px) {
        display: block;
      }
    }
  }

  &.fixed-top {
    + .page-body-wrapper {
      padding-top: $navbar-height;
    }
  }
}